.introduction {
    width: 100%;
    position: flex;
}

.introduction-header{
    width:100%;    
    background-image: url('https://www.guicoder.com/werstlerfamily/images/historic-photo-collage-web.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right 2em;
    height: 300px; 
}
.introduction-header h1 {padding-top:2.2em;color:#AA6600}
.introduction-paragraph{width:50%;background-color: #fff;font-size:1em;}

.introduction-data{
    display: flex;
    width: 100%;
    padding:0;
    background-color: #fff;
}

.introduction-data li{
    flex-grow:1;
    display:inline-block;
    font-size:.8em;
    text-align: center;
    line-height: 1.8em;
    border:solid 1px #cecece;
    padding:16px;
}

.introduction-data span{
    display: block;
    font-weight: 600;
}

.introduction-data p {
    padding:8px;
    border:solid 1px #c7c7c7;
    font-size: .8em;
    text-align: center;
}

.intro-value {font-weight: normal;}
@media (max-width: 1300px) {

.introduction-header{
    width:100%;    
    background-image: url('https://www.guicoder.com/werstlerfamily/images/historic-photo-collage-web.jpg');
    background-size:600px;
    background-repeat: no-repeat;
    background-position: top;
    height: 600px; 
}
.introduction-header h1 {width:100%;padding-top:300px;color:#AA6600}
.introduction-paragraph{width:100%;background-color: #fff;font-size:1em;}
}
@media (max-width: 767px) {
    .introduction-data{
        display: block;
    }
    .introduction-data li{
        display: block;
        padding:6px;
    }
}

