
.fl-table {
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fl-table tr {
    border-bottom:solid #bdbdbd 1px;
}

.fl-table td, .fl-table th {
    padding: 8px;
    text-align: left;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    word-wrap: break-word;
}

.fl-table thead th {
    color: #ffffff;
    background: #5a779b ;
    cursor: pointer;
}
.showHorizontalLabel {
    display:none;
}

@media (max-width: 1490px) {
    .fl-table {
        display: block;
        width: inherit;
        white-space: nowrap;
        background-color: white;
        overflow: scroll;
    }
.showHorizontalLabel {
    display:block;
    font-size: .8em;
    padding-left:10px;
}
}

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: auto;
        height: 300px;
       
    }
    .table-wrapper:before{
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    
    .table-wrapper h1 {
        font-size: 3.0em ;
    }

}