
.fl-table {
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

.fl-table tr {
    border-bottom:solid 1px var(--border-color);
}

.fl-table td, .fl-table th {
    padding: 8px;
    text-align: left;
}

.fl-table td {
    font-size: 12px;
    word-wrap: break-word;
}

.fl-table thead th {
    color:var(--button-text-color);
    background: var(--secondary-background);
    cursor: pointer;
}

.showHorizontalLabel {
    display:none;
}

@media (max-width: 1490px) {
    .fl-table {
        display: block;
        width: inherit;
        white-space: nowrap;
        overflow: scroll;
    }
.showHorizontalLabel {
    display:block;
    font-size: .8em;
    padding-left:10px;
}
}

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: auto;
        height: 300px;
       
    }
}